/dist
/node_modules
/build
/tmp

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

package-lock.json
yarn.lock

.env
.env.development
.env.test
.env.production

.temp
.tmp

data/
*.db

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
